.body{
  /* width: 55vw; */
  margin: auto auto;
}

.nav-item{
  margin: 5px;
}

.card-options{
  display: flex;
  justify-content: space-around;
}

.expiry{
  display: flex;
}

#expireMM{
  border: none;
  appearance: none
}

#expireYY{
  border: none;
  appearance: none;
}

option{
  padding: 5px;
  text-align: right;
}

.card{
  padding: 4px;
}

#successDonation{
          top: 50%;
        left: 50%;
        width: 30em;
        height: 18em;
        margin-top: -9em;
        margin-left: -15em;
        border: 1px solid #666;
        background-color:rgb(208, 223, 210);
        border-radius: 10px;
        border: none;
        box-shadow: 0 15px 40px rgba(0,0,0,0.12);
        position: fixed;
        padding: 5px 20px 0 20px;
        z-index: 70;
}


.tick{
  width: 100px;
  margin: auto auto; 
  margin-top: 5vh; 

}

.hidden{
  display: none;
}